
<strong>Olá, {{ studentName }}</strong>
<p>
  Your question has been answered at {{ answer_at }}<br /><br />
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
</p>
